@font-face {
  font-family: 'gotham-bold';
  src: url("../fonts/GothamBold.ttf");
}

@font-face {
  font-family: 'gotham-light';
  src: url("../fonts/GothamLight.ttf");
}

@font-face {
  font-family: 'gotham-medium';
  src: url("../fonts/GothamMedium.ttf");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@keyframes spin {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-50%);
  }
}

.Header {
  padding: 30px 0;
  background: url(../images/header-bg.png);
  background-size: cover;
}

.Header .logos {
  position: relative;
  height: 100%;
}

#Home .Header {
  padding: 30px 0;
  background: url(../images/header-bg.png);
  background-size: cover;
}

#Home .Header .logos {
  position: relative;
  height: 100%;
}

#Home .Main {
  padding: 80px 0;
}

#Home .Main .title, #Home .Main .bajada {
  text-align: center;
}

#Home .Main .title {
  margin-bottom: 10px;
}

#Home .Main .title h1 {
  font-family: "gotham-bold";
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  color: #001630;
}

#Home .Main .bajada {
  margin-bottom: 10px;
}

#Home .Main .bajada p {
  font-family: "gotham-light";
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #666;
}

#Home .Main form label {
  font-family: "gotham-medium";
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  color: #001630;
}

#Home .Main form input, #Home .Main form select {
  text-transform: capitalize;
}

#Home .Main form input::placeholder, #Home .Main form select::placeholder {
  font-family: "gotham-light";
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  color: #909090;
}

#Home .Main form .form-group {
  margin: 12px 0;
}

#Home .Main #sendUserData {
  background: #001630;
  width: 150px;
  transition: all .1s;
}

#Home .Main #sendUserData:hover {
  background: #005cc9;
}

#Gracias .Header {
  padding: 30px 0;
  background: url(../images/header-bg.png);
  background-size: cover;
}

#Gracias .Header .logos {
  position: relative;
  height: 100%;
}

#Gracias .Main {
  width: 100%;
  height: 600px;
  position: relative;
}

#Gracias .Main .gracias {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#Gracias .Main .gracias .icono svg .cls-1 {
  fill: #001630;
  transition: all;
}

#Gracias .Main .gracias .icono svg .cls-2 {
  fill: #1d468f;
  transition: all;
}

#Gracias .Main .gracias .icono svg .cls-3 {
  fill: #cf142b;
}

#Gracias .Main .gracias .icono svg .cls-4 {
  fill: #00cd7d;
  transition: all;
}

#Gracias .Main .gracias .icono svg .cls-5 {
  fill: #f7b63c;
  transition: all;
}

#Gracias .Main .gracias .icono svg .cls-6 {
  fill: #00abe3;
  transition: all;
}

#Gracias .Main .gracias .mensaje {
  margin-top: 50px;
}

#Gracias .Main .gracias .mensaje h2 {
  font-family: "gotham-bold";
  font-weight: bold;
  font-size: 34px;
  line-height: 48px;
  text-align: center;
  color: #001630;
}

#volver {
  display: block;
  width: 100px;
  padding: 5px 0;
  position: fixed;
  top: 700px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
}

#imprimir {
  width: 287px;
  display: none;
}

#imprimir .Header {
  margin-bottom: 20px;
}

#imprimir p {
  font-size: 20px;
}

#imprimir p span {
  font-weight: 700;
  color: #434242;
}

#imprimir p strong {
  font-size: 48px;
}

.title {
  margin: 20px 0;
}

.topbox {
  margin: 30px 0;
}

.rollbox {
  height: 100%;
  overflow-x: auto;
  overflow: hidden;
  position: relative;
  padding: 0;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.rollbox > table {
  width: auto;
  height: 80px;
  margin: 0;
  padding: 0;
}

#loadout {
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 1;
}

.roller {
  position: relative;
  display: block;
  height: 100%;
  text-align: center;
  color: #1a1a1a;
  line-height: 180px;
  font-size: 0.8em;
  font-weight: bold;
  height: 50px;
  width: 180px;
  margin-right: 10px;
}

.roller div {
  display: block;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.roller .circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: black;
  top: 50%;
  left: 100.3%;
  transform: translateY(-50%);
}

.inputbox {
  background: #212121;
  box-shadow: inset 0 0 7px 0 black;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}

.badge {
  padding-top: 5px;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 20px;
}

.line {
  width: 2px;
  height: 198px;
  top: 1px;
  left: 50%;
  position: absolute;
  background: #cd1931;
  opacity: 0.6;
  z-index: 2;
}

#log {
  margin-top: 30px;
  text-align: center;
  font-size: 1.5em;
  color: #1a1a1a;
}

#log span {
  font-size: 2em;
  font-weight: bold;
  color: #57B3F9;
}

#log .linea {
  width: 50%;
  height: 2px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
}

#log .nombre h4 {
  font-family: "gotham-bold";
  font-size: 25px;
  line-height: 34px;
  text-align: left;
  color: #00376d;
  padding-left: 445px;
}

#roll {
  background: #001630;
  color: #ffffff;
  width: 200px;
}

tr {
  margin: 0;
  padding: 0;
}

table {
  margin: 0;
  padding: 0;
}

td {
  margin: 0;
  padding: 0;
}

td:nth-child(even) .roller {
  background: url(http://re3ker.de/raffle/images/blue.jpg);
}

@media (max-width: 500px) {
  #log .nombre h4 {
    padding-left: 0px;
    text-align: center;
  }
}
