$color_1: white;
$color_2: #57B3F9;
$font_family_1: sans-serif;
@import './index.scss';

.title {
    margin: 20px 0;
}

.topbox {
    margin: 30px 0;
}
.rollbox {
	height: 100%;
	overflow-x: auto;
	overflow: hidden;
	position: relative;
    padding: 0;
    border: 1px solid #cccccc;
    border-radius: 10px;
	>table {
		width: auto;
		height: 80px;
		margin: 0;
		padding: 0;
	}
}
#loadout {
	position: absolute;
	top: 10px;
	left: 5px;
	z-index: 1;
}
.roller {
	position: relative;
	display: block;
	height: 100%;
	text-align: center;
	color: #1a1a1a;
	line-height: 180px;
	font-size: 0.8em;
	font-weight: bold;
	height: 50px;
	width: 180px;
	margin-right: 10px;
    //border: 1px solid #cccccc;
    //border-radius: 10px;
	div {
		display: block;
		height: 50px;
		line-height: 50px;
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
	}
	.circle {
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 20px;
		background: black;
		top: 50%;
		left: 100.3%;
		transform: translateY(-50%);
	}
}
.inputbox {
	background: #212121;
	box-shadow: inset 0 0 7px 0 black;
	font-size: 1.1em;
	font-weight: bold;
	color: $color_1;
}
.badge {
	padding-top: 5px;
	text-shadow: 1px 1px 1px black;
	margin-bottom: 20px;
}
.line {
	width: 2px;
	height: 198px;
	top: 1px;
	left: 50%;
	position: absolute;
	background: #cd1931;
	opacity: 0.6;
	z-index: 2;
}
#log {
	margin-top: 30px;
	text-align: center;
	font-size: 1.5em;
	color: #1a1a1a;
	span {
		font-size: 2em;
		font-weight: bold;
		color: $color_2;
	}
	.linea {
		width: 50%;
		height: 2px;
		text-align: center;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin: 20px 0;
	}
	.nombre {
		h4 {
			font-family: $gotham-bold;
			font-size: 25px;
			line-height: 34px;
			text-align: left;
			color: #00376d;
			padding-left: 445px;
		}
	}
}
#roll {
	background: #001630;
	color: #ffffff;
	width: 200px;
}
tr {
	margin: 0;
	padding: 0;
}
table {
	margin: 0;
	padding: 0;
}
td {
	margin: 0;
	padding: 0;
	&:nth-child(even) {
		.roller {
			background: url(http://re3ker.de/raffle/images/blue.jpg);
		}
	}
}

@media (max-width: 500px) {
	#log {
		.nombre {
			h4 {
				padding-left: 0px;
				text-align: center;
			}
		}
	}
}
