@font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/GothamBold.ttf');
}
@font-face {
    font-family: 'gotham-light';
    src: url('../fonts/GothamLight.ttf');
}
@font-face {
    font-family: 'gotham-medium';
    src: url('../fonts/GothamMedium.ttf');
}
$gotham-bold: 'gotham-bold';
$gotham-med: 'gotham-medium';
$gotham-light: 'gotham-light';

body {
    margin: 0; padding: 0;
    overflow-x: hidden;
}
*:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

// Animaciones
@keyframes estrellita {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes cuadrado {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


#Home {
    .Header {
        padding: 30px 0;
        background: url(../images/header-bg.png);
        background-size: cover;
        .logos {
            position: relative;
            height: 100%;
        }
    }
    
    .Main {
        padding: 80px 0;
        //border: 1px solid red;
    
        .title, .bajada {
            text-align: center;
        }
    
        .title {
            margin-bottom: 10px;
            h1 {
                font-family: $gotham-bold;
                font-weight: bold;
                font-size: 26px;
                line-height: 26px;
                text-align: center;
                color: #001630;
            }
        }
        .bajada {
            margin-bottom: 10px;
            p {
                font-family: $gotham-light;
                font-weight: 300;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                color: #666;
            }
        }
    
        form {
            label {
                font-family: $gotham-med;
                font-weight: normal;
                font-size: 16px;
                text-align: left;
                color: #001630;
            }
            input, select {
                &::placeholder {
                    font-family: $gotham-light;
                    font-weight: 300;
                    font-size: 14px;
                    text-align: left;
                    color: #909090;
                }
            }
            .form-group {
                margin: 12px 0;
            }
        }
    
        #sendUserData {
            background: #001630;
            width: 150px;
            transition: all .1s;
            &:hover {
                background: lighten(#001630, 30);
            }
        }
    }
}

#Gracias {
    .Header {
        padding: 30px 0;
        background: url(../images/header-bg.png);
        background-size: cover;
        .logos {
            position: relative;
            height: 100%;
        }
    }
    .Main {
        width: 100%; height: 600px;
        position: relative;
        //border: 1px solid red;
        .gracias {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            .icono {
                svg {
                    .cls-1 {
                        fill: #001630;
                        transition: all;
                    }

                    .cls-2 {
                        fill: #1d468f;
                        transition: all;
                    }

                    .cls-3 {
                        fill: #cf142b;
                    }

                    .cls-4 {
                        fill: #00cd7d;
                        transition: all;
                    }

                    .cls-5 {
                        fill: #f7b63c;
                        transition: all;
                    }

                    .cls-6 {
                        fill: #00abe3;
                        transition: all;
                    }
                }
            }
            .mensaje {
                margin-top: 50px;
                h2 {
                    font-family: $gotham-bold;
                    font-weight: bold;
                    font-size: 34px;
                    line-height: 48px;
                    text-align: center;
                    color: #001630;

                }
            }
        }
    }
}

#volver {
    display: block;
    width: 100px;
    padding: 5px 0;
    position: fixed;
    top: 700px;
    right: 20px;
    cursor: pointer;
    z-index: 100;
}